services:
  barcode-middleware:
    build: .
    image: mealie-barcode-middleware:latest
    restart: unless-stopped
    ports:
      - "9930:8000"
    volumes:
      - ./middleware-data:/data
    env_file:
      - .env
